:root {
  --header-height: clamp(56px, 8vw, 75px);
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1; /* Header 제외한 나머지 영역 */
  width: 100%;
  position: relative;
  z-index: 1;
}