:root {
  --header-height: clamp(72px, 8vw, 92px);
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1; /* Header 제외 나머지 영역 */
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: visible;
}
